/*Fuentes externas*/
/*Fuente usada en el header*/
@import url('https://fonts.googleapis.com/css?family=Dosis');

/*Fuente usada en los elementos del menu numero 1*/
@import url('https://fonts.googleapis.com/css?family=Anton');

/*Fuente usada en los elementos del menu numero 2*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Fuente utilizado en los banner de tres*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

/*Fuente utilizada en el banner numero dos*/




/*Estilos de neutralidad*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilos generales del DOM*/
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 70px;
  background: black;
  color: white;
}

header div p:first-child{
  margin-right: 15px;
}

header div p{
  display: inline-block;
  font-family: 'Dosis', sans-serif;
}

header div p a{
  color: white;
  text-decoration: none;
}

header ul{
  list-style: none;
}

header ul li a{
  text-decoration: none;
  color: white;
}

/*Estilos de los iconos de redes sociales del header*/
#ico-face:hover{
  color:#3b5998;
  background: white;
  animation-delay: 100000s;
}

#ico-twitter:hover{
  color:#00aced;
}

#ico-linkedin:hover{
  color: #0077b5;
  background: white;
}
/*fin de los estilos de los iconos de redes sociales del header*/


/*Estilo de la seccion banner*/
#cont-ini{
  background-image: url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 680px;
}

#cont-ini #nav-movil{
  width: 100%;
  background: #332d2d;
  display: none;
}

#cont-ini #nav-movil ul{
  list-style: none;
}

#cont-ini #nav-movil ul li{
  display: block;
  border-bottom: 1px solid white;
}

#cont-ini #nav-movil ul li a{
  text-decoration: none;
  margin-left: 25px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
/*Fin de estilos de la seccion banner*/

#cont-ini2{
  width: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

#logo span{
  font-size: 70px;
}

#cont-ini #cont-ini2 #logo span{

}

#cont-ini #cont-ini2 #btn-menu{
  display: none;
}

#cont-ini2 nav ul li{
  display: inline-block;
}

#cont-ini2 nav ul li a{
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  color: black;
  padding-left: 15px;
}

#baner-bienvenida{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  font-family: 'Anton', sans-serif;
  letter-spacing: inherit;
}

#baner-bienvenida h2{
  color: white;
}

#baner-bienvenida p{
  color: white;
}

#tres-secciones{
  padding: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

#cont-global-servi{
  background-image: url("../img/banner3.jpg");
  width: 100%;
  height: 695px;
  padding-top: 100px;
}

#cont-global-servi h2{
  overflow: hidden;
  font-size: 32px;
  text-align: left;
  font-family: 'Anton', sans-serif;
  margin-bottom: 10px;
  background: yellow;
  padding: 10px;
  display: inline-block;
  margin-left: 120px;
  border-radius: 5px;

}

#cont-global-servi #parrafo-bienve{
  padding: 20px 120px;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  background: white;
  color: black;
}

#cont-cuadro-servi{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  padding: 0 120px;
}

.ir-arriba {
	display:none;
	padding:15px;
	background:#00000C;
	font-size:15px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:40px;
	right:20px;
}

.cuadro-servi{
  width: 200px;
}

.cuadro-servi h4{
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  border-top:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
  background: white;
  color: rgb(175, 24, 73);
  padding: 10px;
}

.cuadro-servi-interno{
  border: 2px solid black;
  padding: 20px;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
}

.titulo-sec{
  color: yellow;
}

/*Clases del proyecto*/
.tres-sec{
  width: auto;
  /*height: auto;*/

  padding: 15px;
  overflow: hidden;
}

.tres-sec h4{
  color: rgb(175, 24, 73);
  font-family: 'Nunito Sans', sans-serif;
}

.tres-sec2 p{
  width: 200px;
  padding: 20px;
  text-align: justify;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: white;
  font-family: 'Nunito Sans', sans-serif;
}

.tres-sec3{
  border: 2px solid black;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  background: white;
}

.icon-arrow-right{
  padding: 10px 10px 10px 10px;
  border-left: 1px solid black;
  text-align: center;
  background: yellow;
}


/*
Clases para los iconos de las tecnologias usadas
*/
.icon-html-five{
  color: orange;
}
.icon-css3{
  color: blue;
}
.icon-github{
  color: purple;
}
.icon-git{
  color:red;
}
.icon-appleinc{
  color:gray;
}
.icon-android{
  color:#99cc33;
}


/*Media query*/
/*Habrán dos media query*/
@media (max-width:650px) {
  header{
    display: none;
  }

  #cont-ini #nav-movil{
    display: none;
  }

  #baner-bienvenida{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }

  #cont-ini #cont-ini2 #btn-menu{
    display: block;
    color: white;
  }

  #cont-ini #cont-ini2 #logo span{
    color: white;
  }

  #cont-ini2{
    background: black;
  }

  #cont-ini2 nav{
    display: none;
    width: 100%;
  }

  #cont-ini #nav-movil ul li a{
    display: block;
    padding: 15px;
  }

}

@media (max-width:860px) {
  #cont-ini{
    width: 100%;
    height: auto;
    padding-bottom: px;
  }

  #tres-secciones{
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #cont-global-servi{
    height: auto;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  #cont-global-servi h2{
    text-align: center;
    display: block;
    width: 136px;
    margin: 0  auto 10px auto;
  }

  #cont-global-servi #parrafo-bienve{
    padding: 20px 30px;
    text-align: center;
  }

  #cont-cuadro-servi{
    display: block;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tres-sec{
    width: 200px;
    margin: 0 auto;
  }
  .tres-sec2 p{
    width: 170px;
    padding: 10px;
    text-align: justify;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .cuadro-servi{
    margin: 0 auto;
    margin-bottom: 20px;
  }

}
